html {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  height: 100%;
}

body {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  height: 100%;
}

body > .container {
  padding: 60px 15px 0;
}

.navbar-inverse {
	background-color: rgba(0, 0, 0, 0.75);
	border: none;
	margin-bottom: 0;
	padding: 0;
	border-radius: 0;
}

.navbar-inverse .navbar-brand {
	color: #FFF;
	font-family: 'Press Start 2P', cursive;
	font-size: 28px;
}

#game-container {
  display: none;
  width: 100%;
  height: 100%;
}

#game-container > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.heading {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  background-color: rgba(0,0,0,0.75);
  width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.heading input[type="text"], .heading input[type="password"], .heading input[type="text"], .heading input[type="password"], .heading input[type="text"] {
	width: 100%;
	padding: 7px;
	border: 1px solid #0199e6;
	color: #fff;
	outline: none;
	background: transparent;
	border-left: 5px solid #0199e6;
	border-radius: 0;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
}

.heading button {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #EEE;
  padding: 20px;
  background-color: rgba(102, 102, 102, 0.75);
  border: none;
  border-radius: 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #262626;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer p.text-muted {
  color: #CCC;
}
