@font-face {
    font-family: 'minecraft_evenings';
    src: url('fonts/minecraftevenings-webfont.woff2') format('woff2'),
         url('fonts/minecraftevenings-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
}

body {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
}

body > .container {
    padding: 60px 15px 0;
}

.navbar-inverse {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	margin-bottom: 0;
	padding: 0;
	border-radius: 0;
}

.navbar-inverse .navbar-brand {
	color: #FFF;
	font-family: 'minecraft_evenings';
	font-size: 38px;
	padding-top: 50px;
	padding-bottom: 40px;
}

#game-container {
    width: 100%;
    height: 100%;
}

#game-container > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game-stats {
    color: #333333;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#game-stats h3 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 14px;
    color: #000;
}

#game-stats table td {
    border-top: none;
}

#game-stats table td {
    line-height: 1;
}

.heading {
    position: absolute;
    left: 0;
    right: 0;
    top: 23%;
    background-color: rgba(0,0,0,0.75);
    width: 50%;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.heading h1 {
    font-family: 'minecraft_evenings';
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
    color: #EEE;
}

#connect-form-gameover {
    font-family: 'minecraft_evenings';
    font-size: 28px;
}

.heading .message {
    visibility: hidden;
    text-align: center;
    padding: 10px;
    color: white;
}

#score {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.social_buttons {
    position: absolute;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
}

input[type="text"], input[type="password"], select {
	width: 100%;
	padding: 7px;
	border: 1px solid #0199e6;
	color: #fff;
	outline: none;
	background: transparent;
	border-left: 5px solid #0199e6;
	border-radius: 0;
	margin-bottom: 22px;
	font-size: 14px;
	font-weight: 500;
}

select {
    margin-bottom: 0px;
}

option {
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #0199e6;
}

.heading button {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: #EEE;
    padding: 20px;
    background-color: rgba(102, 102, 102, 0.75);
    border: none;
    border-radius: 0;
}

.container .text-muted {
  margin: 20px 0;
}

#connect-form .form {
    display: table;
}

#connect-form .form > * {
    display: table-cell;
    vertical-align: top;
}

#connect-form .form .start {
    padding-left: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer > .container {
    font-weight: bold;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer p.text-muted {
    color: #CCC;
}

#ads {
    position: absolute;
    z-index: 99999;
    top: calc(30% + 170px);
    left: 0;
    width: 100%;
    text-align: center;
}

#beta {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99999;
}
